body {
    font-family: sans-serif;
    background-color: #42A5F5;
}

header {
    display:flex;
    justify-content: space-between;
    padding:;
    margin-bottom: 20px;
}

.button {
    background-color: #1E88E5;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    display:flex;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
}

article {
    background-color: white;
    padding: 20px 45px 30px 45px  ;
    width: 400px;
    margin: 36px;
}

.article-but {
    text-decoration: none;
    background-color: #90CAF9;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    margin: 30px;
}

footer {
    display:flex;
    background-color:#1565C0;
    padding: 35px 0 40px 15px;
    width: 100%
}

footer a {
    margin-right: 38px ;

}

footer p {
    font-size: 24px;

}

